streamlit
langchain-groq
langchain-huggingface
sentence-transformers
langchain-community
langchain-core
langchain-text-splitters
langgraph
langgraph-checkpoint-sqlite
pypdf
faiss-cpu
duckduckgo-search
python-dotenv
requests